@font-face {
  font-family: "VAG Rounded Next Regular";
  src: url(VAGRoundedNextRegular.ttf);
}

@font-face {
  font-family: "icofont";
  src: url(icofont.ttf);
}

@font-face {
  font-family: "icofont";
  src: url(icofont.woff);
}